$lightgray: #EDEDED;
$darkblue: #28687D;
$red: #e61408;
$gray: #878787;

body {
  background: white;
  font: 16px 'Lato';
  margin: 0 auto;
  width: 350px;
}

.loading {
  font-size: 150%;
  margin-top: 3em;
  text-align: center;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
  outline: none;
  &:active {
    position: relative;
    top: 2px;
  }
}

.action {
  margin-top: 3em;
  text-align: center;
  a, button {
    background: $darkblue;
    border: 1px solid $darkblue;
    border-radius: 3px;
    color: white;
    padding: 0.5em 1em;
    font-size: 120%;
    outline: none;
    text-decoration: none;
  }
}

#tachistoscope {
  #card {
    text-align: center;
  }

  #progress {
    color: gray;
    padding-bottom: 1em;
    text-align: center;
  }

  #response {
    text-align: center;
    .prompt {
      font-size: 115%;
      margin-bottom: 2em;
    }
    .option {
      margin: 0.5em 0;
      + .option {
        border-top: 1px solid $lightgray;
        margin-top: 1em;
        padding-top: 1em;
      }
    }
    [data-value="unknown"] {
      background: gray;
      border: 1px solid gray;
      border-radius: 2px;
      color: white;
      font-size: 12px;
      padding: 0.3em 0.7em;
    }
    [data-value="none"] {
      background: lightgray;
      border: 1px solid lightgray;
      border-radius: 2px;
      font-size: 12px;
      margin-top: 2em;
      padding: 0.3em 0.7em;
    }
    .card-group {
      + .card-group {
        margin-top: 0.5em;
      }
    }
    .card-opt {
      background: no-repeat right/15px;
      color: $gray;
      font-weight: bold;
      font-size: 17px;
      padding-right: 17px;
      border-width: 0;
      width: 35px;
      + .card-opt {
        margin-left: 1em;
      }
    }
    .card-opt[data-suit="spades"] {
      background-image: url('/assets/images/spades_gray.png');
    }
    .card-opt[data-suit="clubs"] {
      background-image: url('../images/clubs_gray.png');
    }
    .card-opt[data-suit="hearts"] {
      background-image: url('../images/hearts_gray.png');
    }
    .card-opt[data-suit="diamonds"] {
      background-image: url('../images/diamonds_gray.png');
    }
  }
}

footer {
  display: none;
  margin-top: 1em;
  text-align: right;
}

.blurb {
  font-size: 115%;
  text-align: center;
}

countdown {
  .remaining-seconds {
    display: block;
    font-size: 150%;
    padding-top: 1em;
  }
}

.card-indicator {
  background: no-repeat right/15px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 5px;
  border-width: 0;
  width: 35px;
}

#results {
  ol {
    border-top: 1px solid $lightgray;
    font-size: 80%;
    list-style-type: none;
    padding: 0;
    padding-top: 1em;
  }

  .card-num {
    color: $gray;
    font-weight: bold;
    text-transform: uppercase;
  }

  .card-indicator {
    display: inline-block;
    margin-right: 10px;
    width: 35px;
    &[data-color="red"] {
      color: $red;
    }
    &[data-suit="spades"] {
      background-image: url('../images/spades.png');
      &[data-color="red"] {
        background-image: url('../images/spades_red.png');
      }
    }
    &[data-suit="hearts"] {
      background-image: url('../images/hearts.png');
      &[data-color="black"] {
        background-image: url('../images/hearts_black.png');
      }
    }
  }

  .outcome {
    .interval {
      font-weight: bold;
    }
  }
}
